#winesubmit {
    display: none;
}

.topProfile {
}

.wordbox {
    text-align: center;
    font-weight: : bold;
    font-size: 25px;
    background-color: lightslategray;
    margin: 2px;
}

.wordbox:hover {
    background-color: white;
    border: lightslategray;
    cursor: pointer
}

#error {
    color: red;
}