{% extends "base.html" %}

{% block content %}
    <div class="heading">
        <h1>Hi, {{ current_user.username }}!</h1>
    </div>
    <form action="/pairs" method="post">
        <h1>Search for pairings</h1>
        <div class="call-action">
            {{ form.hidden_tag() }}

            <p>Choose what to search by: </p>

            <select id="selector" onchange="selectSearch()">
                <option value="Food">Food</option>
                <option value="Wine">Wine</option>
            </select>

            <div id="foodsubmit">
                {{ form.food }}
            </div>
            
            <div id="winesubmit">
                {{ form.wine }}
            </div>
        
            <br>
            <br>

            {{ form.submit() }}
        </div>
    </form>
{% endblock %}
