{% extends "base.html" %}

{% block content %}
<div class="container">
    {% if wine %}
        <h1 class="heading">Food pairings for</h1>
        <h1 id = "main" class="heading">{{ wine }}</h1>
        <p>{{ text }}</p>
    {% endif %}
    {% if food %}
        <h1 class="heading">Wine pairings for</h1>
        <h1 id = "main" class="heading">{{ food }}</h1>
        <p>{{ text }}</p>
    {% endif %}
</div>

<div class="container">
    {% for food in foodpairings: %}
        <div class="btn btn-large btn-theme" onclick="getWord(this, false)">{{ food }}</div>
    {% endfor %}

    {% for wine in winepairings: %}
        <div class="btn btn-large btn-theme" onclick="getWord(this, true)">{{ wine }}</div>
    {% endfor %}

    {% if empty %}
        <div>None found try different search</div>
        <a href="{{ url_for('index') }}">Back to search</a>
    {% endif %}
</div>

<br>
<br>
    
{% endblock %}

