{% extends "base.html" %}

{% block content %}
  <table>
      <tr valign="top">
        <td rowspan="2"><img src="/static/pair.png" style="width:100px;height:100px;"></td>
        <td class="topProfile">
            <h1>Wine: {{ pair.wine }}
        </td>
      </tr>
      <tr>
        <td><h1>Food: {{ pair.food }}</h1></td>
      </tr>
  </table>
  <hr>

  <div class="container">
    {% for review in reviews %}
        {% include '_review.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Previous reviews</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">More reviews</a>
    {% endif %}
  </div>


  {% if show == True %}
  <div class="contianer">
    <br><br>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <p>
          {{ form.review.label }}<br>
          {{ form.review(cols=32, rows=4) }}<br>
          {% for error in form.review.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>
          {{ form.rate.label }}<br>
          {{ form.rate(cols=32, rows=4) }}<br>
          {% for error in form.rate.errors %}
          <span style="color: red;">[{{ error }}]</span>
          {% endfor %}
      </p>
      <p>{{ form.submit() }}</p>
    </form>
  </div>
  {% endif %}



{% endblock %}
